html,
body{
	font-family:"Lato",sans-serif;
	font-size: 10px;
	margin:0 auto;
	padding:0px;
	scroll-behavior: smooth;
	position: relative;
}

.wrapper{
	max-width:1020px;
	margin:auto;
	float:center;
}

/* HEADER */

.header {
	width: 1020px;;
	height:89px;
	margin-top:0px;
	background-color:#2d303a;
	border-bottom:6px solid #323746; 
	display:flex;
	justify-content: space-between;
	position:fixed;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}	

.header__logo h1  {
	margin:41px 0 0 40px;
	text-align:left;
	color:#ffffff;
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 700;
	line-height: 6px;
	letter-spacing: -0.03rem;
}

header h1 span {
	color:#f06c64;
}

.header__navigation {
	width: 411px;
	margin: 34px 40px 0 0;
}
.header__navigation ul {
	display:flex;
	justify-content: space-between;
	list-style:none; 
}

.header__navigation ul li a.active {
	color:#f06c64;
}

.header__navigation ul li a:not(.active):hover {
	color:#f06c64;
}

.header__navigation ul li a {
	font-size: 12px;
	line-height:6px;
	color: #ffffff;
	text-decoration:none;
	font-weight: 700;
	text-align: left;
	text-transform:uppercase;
	letter-spacing: -0.01rem;
}

.header__navigation ul li a span {
	color: #494e62;
	padding-left:14px;
}

.header__navigation ul li a:hover {
	color:#f06c64;
}

/* SLIDE */

.slider {
	height: 594px;
	background-color: #f06c64;
    user-select: none;
	padding-top: 95px;
	border-bottom:6px solid #ea676b; 
}

.slide-container {
	position: relative;
    width: 1020px;
    height: inherit;
    margin: auto;
    display: flex;
	overflow: hidden;
}

.slide {
	position:relative;
	display:none;
	justify-content: space-between;
	animation: 0.5s ease-in-out;
}

.slider .active,
.next {
	display: block;
}

.next {
	position: absolute;
}

.slider .slider-blue{
	border-bottom:6px solid #648BF0; 
}

.iphone_vertical_layer1 { 
	position:absolute;
	top:53px;
	left:112px;
	display:flex;
	justify-content: space-between;

}

.iphone_vertical_layer2 {
	position:absolute;
	top:53px;
	left:112px;
	display:flex;
	justify-content: space-between;
	z-index: 1; 
	cursor: pointer;
}

.iphone_horisontal_layer1 {
	position: absolute;
	top:53px;
	left:548px;
	display:flex;
	justify-content: space-between;
	transform: scale(1, -1) rotate(90deg);
}

 .iphone_horisontal_layer2 {
	position:absolute;
	top:174px;
	left:425px; 
	display:flex;
	justify-content: space-between;
	z-index: 1;
	cursor: pointer;
}

.iphone_not_fon {
	position: absolute;
    opacity: 0;
}

.control {
	position: absolute;;
	top:0;
	bottom:0;
	cursor:pointer;

}

.control .control_left {
	position:absolute;
	cursor:pointer;
	left: 36px;
	top:375px;
	border: none;
	background: none;
	outline:none;
}

.control .control_left:hover {
	background-color: #ffffff;
}

.control .control_right {	
	position:absolute;
	cursor:pointer;
	left:958px;
	top:375px;
	border: none;
	background: none;
	outline:none;
}

.control .control_right:hover {
	background-color: #ffffff;
}

.to-left {
	animation-name: left;
}

.from-right {
	animation-name: right;
}

.to-right {
	animation-name: right;
	animation-direction: reverse;
}

.from-left {
	animation-name: left;
	animation-direction: reverse;
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right{
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

/* SERVICES*/

.services {
	padding-top: 0px;
	height: 494px;
	background-color: #f2f2f2;
	border-bottom:6px solid #ffffff; 
	
}

.services_our {
	padding: 37px 0 0 40px;
	font-size: 30px;
	line-height: 0px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
}
	
.services_p {
	margin-top:-4px;
	padding-left: 40px;
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	text-align: left;
	word-spacing: 1.1px;

}

.services_p span {
	word-spacing: 0.01px;
}

.services .conteiner {
 	display:flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.services .conteiner h4 {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
	margin-top: -62px;
	margin-left:119px;
}

.services .conteiner img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
  	margin-top: 50px;
	margin-left:40px;;
}

.services .conteiner p {
	margin-top: -15px;
	margin-left: 120px;
	width: 219px;
	height: 128px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	text-align: justify;
	overflow: hidden;
}

.conteiner .conteiner_phone{
	margin-top:-94px;
}

.conteiner .conteiner_bulb {
	margin-left:-20px;
}

.conteiner .conteiner_heart h4 {
	margin-left:121px;
}

.conteiner .conteiner_bubble {
	margin-left:-20px;
	margin-top:-94px;
}
.conteiner .conteiner_heart{
	margin-left:-19px;
} 
.conteiner .conteiner_star {
    margin-top:-94px;
    margin-left:-19px;
}
.conteiner .conteiner_star h4 {
	margin-left:122px;
}

/* PORTFOLIO */

.portfolio {
	height: 863px;
	background-color:#2d303a;
	border-bottom:6px solid #323746; 
	margin:0;
	padding-left:40px;
	text-align: left;
}	

.portfolio__name {
	padding-top:38px;
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01rem;
}
.portfolio_p {
	margin-top:-3px;
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
}

.portfolio__btn{
	display:flex;
}

.portfolio__btn .portfolio__button {
	margin-top:-16px;
	font-family:'Lato',sans-serif;
	border-radius: 5px;
	border: 1px solid #666d89;
	font-size: 12px;
	line-height: 18px;
	color: #767e9e;
	font-weight: 400;
	cursor: pointer;
	margin-right: 10px;
	background-color: transparent;
	outline:none;
}

.portfolio__button.active {
	border-color:#ffffff;
	color: #ffffff;
}

.portfolio__button:not(.active):hover {
	border-color:#ffffff;
	color: #ffffff;
}

.portfolio_conteiner {
	display:flex;
	flex-wrap:wrap;
	height:630px;
	overflow: hidden;
}

.portfolio_conteiner .portfolio_images{
   	margin-top:18px;
    margin-right:20px;
    width: 220px;
	height: 185px;
	cursor: pointer;
} 

.portfolio_conteiner img.active {
	border: 5px solid #F06C64;
}

.portfolio_conteiner img:not(.active):hover {
	border: 5px solid #F06C64;
}

/* ABOUT US */

.About_Us {
	height:728px;
	background-color:#f2f2f2;
	border-bottom:6px solid #ffffff; 
	padding-left:40px;
	text-align: left;
}	

.About__name {
	padding-top:38px;
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01rem;
}
.About_p {
	margin-top:-3px;
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
}

.About_p span {
	letter-spacing: 0.0094rem;
}
.conteiner_About_Us {
	display: flex;
	justify-content: space-between;
	padding-top:48px;
	padding-right:37px;
}
.Desmond_Miles .about-us__photo{
	margin-right:5px;
}
.conteiner_About_Us h4 {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	margin-left:-1px;
	margin-top:15px;
	white-space:nowrap;
	overflow:hidden;
	width: 300px;
}

.conteiner_About_Us p {
	width: 303px;
	height: 175px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	margin-top:-14px;

}

.conteiner_About_Us p span {
	letter-spacing: 0.009rem;
}

.Adam_Jensen p span{
	letter-spacing: -0.003rem;;
}
.About_Us_socials  {
    margin-top:-122px;
   	display:flex;
    justify-content:space-between;
   	width: 153px;
}

.About_Us_socials :hover {
	cursor: pointer;
    position: relative;
   	bottom: 2px;
}

/* GET A QUOTE */

.get_a_quote {
	height: 648px;
	background-color: #f06c64;
	border-bottom:6px solid #ea676b; 
	margin:0;
	padding-left:40px;
	text-align: left;

}	

.get_a_quote__name {
	padding-top:38px;
	font-size: 30px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
	letter-spacing: -0.01rem;
}
.get_a_quote_text {
	margin-top:-3px;
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	font-weight: 300;
}

.get_a_quote_text span {
	letter-spacing: 0.0094rem;
}


.quote__info {
    display: flex;
    justify-content: space-between;
    margin-top:47px;
}

.quote__info_input {
	display: block;
    margin-bottom: 16px;
	width: 619px;
	height: 36px;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
}

.quote__info_input::placeholder {
	font-size: 12px;
	line-height: 32px;
	color: #f48c8f;
	font-weight: 400;
	padding-left:15px;
	font-family:'Lato',sans-serif;
}

.quote__info_textarea{
	resize: none;
    height: 198px;
    width: 615px;
}

.btn {
	border: none;
	width: 136px;
	height: 38px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #FBC65F;
    color: #886A30;
	cursor: pointer;
	outline:none;
}

.btn:hover{
	background-color: #ffff;
	color:  #d6564f;
	outline:none;
}

.quote__contact_information {
	width:310px;
	margin-top:-18px;
	margin-right:30px;
	letter-spacing: -0.001rem
}

.quote__contact_information_name {
	font-size: 18px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
	letter-spacing: -0.001rem;
}

.quote__contact_information_text, 
.quote__contact_list{
	width: 300px;
	height: 175px;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	margin-top: -9px;
    text-align: justify;
    letter-spacing: -0.002rem;
}

.quote__contact_list { 
    list-style: none;
    padding-left:0px;
    margin-top:-78px;
}

.quote__contact_location_img {
    margin-left:3px;
    margin-top:5px;
}

.quote__contact_list a  {
	text-decoration:none;
	color: #f0d8d9;
	margin-left:10px;
}

.quote__contact_list a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#massage-block {
	width: 100vw;
	height: 100vh;
	background-color:rgba(0,0,0, 0.6);
    position: fixed;
    top: 0;
	left: 0;
	z-index: 10;
}

#theme {
	overflow: hidden;
	white-space:nowrap;
}

#massage {
	position: absolute;
	padding:20px;
	overflow: hidden;
    max-width: 500px;
	background-color: #f48c8f;
    top: 40%;
    left: 40%;
}

.massages_title {
	margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato Regular', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.massages_text {
	margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Lato Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
	word-break: break-all;
}

/* FOOTER */

footer {
	height: 76px;
	background-color: #2d303a;
	margin:0;
	padding-left:42px;
	text-align: left;
   	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
	font-size: 12px;
	line-height: 6px;
	color: #666d89;
	font-weight: 400;
	letter-spacing: -0.01rem;
}

.footer__Social {
   	display:flex;
    justify-content:space-between;
   	width: 156px;
   	padding-right:39px;
}

.footer__Social {
   	display:flex;
    justify-content:space-between;
   	width: 153px;
}

.footer__Social :hover {
	cursor: pointer;
    position: relative;
   	bottom: 2px;
}