html,
body{
	font-family:"Lato",sans-serif;
	font-size: 10px;
	margin:0 auto;
	padding:0px;
	scroll-behavior: smooth;
	position: relative;
}

.wrapper{
	max-width:1020px;
	margin:auto;
	float:center;

}

*{
	scroll-margin-top: 89px;
}

/* HEADER */
.header {
	height:95px;
	top:0px;
	background-color:#2d303a;
	border-bottom:6px solid #323746; 
	display:flex;
	justify-content: space-between;
    box-sizing: border-box;
	position: sticky;
	z-index: 5;
	transition: all 0.3s ease;
}	

.nav-icon,
.nav-icon.active {
  display: none;
}

.header__logo h1  {
	margin:41px 0 0 40px;
	text-align:left;
	color:#ffffff;
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 700;
	line-height: 6px;
	letter-spacing: -0.03rem;
}

header h1 span {
	color:#f06c64;
}

.header__navigation {
	display:flex;
    justify-content: space-between;
    width:100%;
}

#menu {
	width:100%;
	max-width:371px;
	display:flex;
	justify-content: space-between;
	list-style:none; 
	margin-top:44px;
	margin-right:40px;
}

.header__navigation ul li a.active {
	color:#f06c64;
}

.header__navigation ul li a:not(.active):hover {
	color:#f06c64;
}

.header__navigation ul li a {
	font-size: 12px;
	line-height:6px;
	color: #ffffff;
	text-decoration:none;
	font-weight: 700;
	text-align: left;
	text-transform:uppercase;
	letter-spacing: -0.01rem;
}

.header__navigation ul li a span {
	color: #494e62;
	padding-left:14px;
}

.header__navigation ul li a:hover {
	color:#f06c64;
}

/* SLIDE */

.slider {
	max-height: 594px;
    height: 58.1vw;
	background-color: #f06c64;
    user-select: none;
	border-bottom:6px solid #ea676b; 
}

.slide-container {
    box-sizing: border-box;
	position: relative;
    height: inherit;
    margin: auto;
    display: block;
	overflow: hidden;
	width: 100%;
}

.slide {
	width: 100%;
	position:relative;
	display:none;
	animation: 0.5s ease-in-out;
}

.slider .active,
.next {
	display: block;
}

.next {
	position: absolute;
}

.slider .slider-blue{
	position:absolute;
	width: 100%;
}

.iphone_vertical_layer1 { 
	position:absolute;
    width: calc(240 / 1020 * 100%);
    margin-top:5.2%;
    margin-left:11%;
	display:flex;
	justify-content: space-between;

}

.iphone_vertical_layer2 {
    position:absolute;
    width: calc(215 / 1020 * 100%);
    margin-top:5.2%;
    margin-left:11%;
	z-index: 1; 
	cursor: pointer;
}

.iphone_horisontal_layer1 {
	position: absolute;
    width: calc(240 / 1020 * 100%);
    margin-top:5.2%;
    margin-left:53.7%;
	transform: scale(1, -1) rotate(90deg);
}

 .iphone_horisontal_layer2 {
	position:absolute;
    width: calc(458 / 1020 * 100%);
    margin-top:17.1%;
    margin-left:41.7%;
	z-index: 1;
	cursor: pointer;
}

.iphone_not_fon {
	position: absolute;
    opacity: 0;
}

.control {
	max-width: 1020px;
    width: 100%;
	position: absolute;;
	margin-top:27.5%;
	cursor:pointer;
}

.control .control_left {
	position:absolute;
	cursor:pointer;
	border: none;
	left:3.5%;
	background: none;
	outline:none;
}

.control .control_left:hover {
	background-color: #ffffff;
}

.control .control_right {	
	position:absolute;
	cursor:pointer;
	right:3.3%;
	border: none;
	background: none;
	outline:none;
}

.control .control_right:hover {
	background-color: #ffffff;
}

.to-left {
	animation-name: left;
}

.from-right {
	animation-name: right;
}

.to-right {
	animation-name: right;
	animation-direction: reverse;
}

.from-left {
	animation-name: left;
	animation-direction: reverse;
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right{
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

/* SERVICES*/

.services {
	min-height: 494px;
	background-color: #f2f2f2;
	border-bottom:6px solid #ffffff; 
	display:flex;
    flex-direction: column;
    height: inherit;
	
}

.services_our {
    padding-top:37px;
    padding-left:40px;
	font-size: 30px;
	line-height: 0px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
}
	
.services_p {
	margin-top:-22px;
	padding-left: 40px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	text-align: left;
	word-spacing: 1.1px;

}

.services_p span {
	word-spacing: 0.01px;
}


.services .conteiner {
 	display:flex;
	flex-wrap: wrap;
	align-content: space-around;
    width: 100%;
}

.services__conteiner {
	padding-left:40px;
	max-width: 280px;
    margin-top: 17px;
    height: 105px;
}

.services .conteiner h4 {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
	margin-top: -62px;
	margin-left:79px;
}

.services .conteiner img {
    display: flex;
    width: 61px;
    height: 61px;
  	margin-top: 50px;

}

.services .conteiner p {
	margin-top: -15px;
	margin-left: 80px;
	width: 219px;
	height: 128px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	text-align: justify;
	overflow: hidden;
}


/* PORTFOLIO */

.portfolio {
    min-height: 863px;
	background-color:#2d303a;
	border-bottom:6px solid #323746; 
	margin:auto;
	padding-left:40px;
    display: flex;
    flex-direction: column;

}	

.portfolio__name {
	padding-top:30px;
	font-size: 30px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01rem;
}

.portfolio_p {
	margin-top:-30px;
	max-width: 89%;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
}

.portfolio__btn{
	display:flex;
}

.portfolio__btn .portfolio__button {
	margin-top:-8px;
	font-family:'Lato',sans-serif;
	border-radius: 5px;
	border: 1px solid #666d89;
	font-size: 12px;
	line-height: 18px;
	color: #767e9e;
	font-weight: 400;
	cursor: pointer;
	margin-right: 10px;
	background-color: transparent;
	outline:none;
}

.portfolio__button.active {
	border-color:#ffffff;
	color: #ffffff;
}

.portfolio__button:not(.active):hover {
	border-color:#ffffff;
	color: #ffffff;
}

.portfolio_conteiner {
	display:flex;
	flex-wrap:wrap;
	min-height:620px;
	overflow: hidden;
}

.portfolio_conteiner .portfolio_images{
   margin-right:20px;
    margin-top: 20px;
	width: 22.45%;
	cursor: pointer;
} 

.portfolio_conteiner img.active {
	border: 5px solid #F06C64;
}

.portfolio_conteiner img:not(.active):hover {
	border: 5px solid #F06C64;
}

/* ABOUT US */

.About_Us {
	height:728px;
	background-color:#f2f2f2;
	border-bottom:6px solid #ffffff; 
	padding-left:40px;
	display:flex;
	flex-direction: column;
}	

.About__name {
	padding-top:4.7%;
	font-size: 30px;
	line-height: 1px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01rem;
}
.About_p {
	margin-top:-10px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
}

.About_p span {
	letter-spacing: 0.015rem;
}
.conteiner_About_Us {
	display: flex;
	justify-content: space-between;
	padding-top:2.5%;
	padding-right:3.8%;
}

.about-us__photo{
    max-width: 300px;
    width: 28.5vw;
}

.conteiner_About_Us h4 {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	margin-left:-1px;
	margin-top:15px;
	white-space:nowrap;
	overflow:hidden;
}

.conteiner_About_Us p {
	height: 175px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	margin-top:-14px;
	width:100%;
	max-width:303px;
	text-align: justify;
}

.conteiner_About_Us p span {
	letter-spacing: 0.009rem;
}

.Adam_Jensen p span{
	letter-spacing: -0.003rem;
}

.About_Us_socials  {
    margin-top:-122px;
   	display:flex;
    justify-content:space-between;
   	width: 153px;
}

.About_Us_socials :hover {
	cursor: pointer;
    position: relative;
   	bottom: 2px;
}

/* GET A QUOTE */

.get_a_quote {
	height: 648px;
	background-color: #f06c64;
	border-bottom:6px solid #ea676b; 
	margin:0;
	padding-left:40px;
	text-align: left;

}	

.get_a_quote__name {
	padding-top:38px;
	font-size: 30px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
	letter-spacing: -0.01rem;
}

.get_a_quote_text {
	margin-top:-3px;
	max-height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	font-weight: 300;
}

.get_a_quote_text span {
	letter-spacing: 0.0094rem;
}

.quote__info {
    display: flex;
    justify-content: space-between;
    margin-top:47px;
}

.quote__info_input {
	display: block;
    margin-bottom: 16px;
    width:100%;
	max-width: 619px;
	height: 36px;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
}

.quote__info_input::placeholder {
	font-size: 12px;
	line-height: 32px;
	color: #f48c8f;
	font-weight: 400;
	padding-left:15px;
	font-family:'Lato',sans-serif;
}

.quote__info_textarea{
	resize: none;
    height: 198px;
    width: 615px;
}

.btn {
	border: none;
	width: 136px;
	height: 38px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #FBC65F;
    color: #886A30;
	cursor: pointer;
	outline:none;
}

.btn:hover{
	background-color: #ffff;
	color:  #d6564f;
	outline:none;
}

.quote__contact_information {
	max-width:310px;
	margin-top:-18px;
	margin-right:4.1%;
	letter-spacing: -0.001rem
}

.quote__contact_information_name {
	font-size: 18px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
	letter-spacing: -0.001rem;
}

.quote__contact_information_text, 
.quote__contact_list{
	max-width: 300px;
	height: 175px;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	margin-top: -9px;
    text-align: justify;
    letter-spacing: -0.002rem;
    letter-spacing:-0.03px;
}

.quote__contact_list { 
    list-style: none;
    padding-left:0px;
    margin-top:-78px;
}

.quote__contact_location_img {
    margin-left:3px;
    margin-top:5px;
}

.quote__contact_list a  {
	text-decoration:none;
	color: #f0d8d9;
	margin-left:10px;
}

.quote__contact_list a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#massage-block {
	width: 100vw;
	height: 100vh;
	background-color:rgba(0,0,0, 0.6);
    position: fixed;
    top: 0;
	left: 0;
	z-index: 10;
}

#theme {
	overflow: hidden;
	white-space:nowrap;
}

#massage {
	position: absolute;
	padding:20px;
	overflow: hidden;
    max-width: 500px;
	background-color: #f48c8f;
    top: 40%;
    left: 40%;
}

.massages_title {
	margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato Regular', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.massages_text {
	margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Lato Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
	word-break: break-all;
}

/* FOOTER */

footer {
	height: 76px;
	background-color: #2d303a;
	margin:0;
	padding-left:42px;
	text-align: left;
   	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
	font-size: 12px;
	line-height: 6px;
	color: #666d89;
	font-weight: 400;
	letter-spacing: -0.01rem;
}

.footer__Social {
   	display:flex;
    justify-content:space-between;
   	width: 156px;
   	padding-right:39px;
}

.footer__Social {
   	display:flex;
    justify-content:space-between;
   	width: 153px;
}

.footer__Social :hover {
	cursor: pointer;
    position: relative;
   	bottom: 2px;
}

@media (max-width: 1019px) {
	.services {
	height:668px;
	}
   .services_our {
	padding: 20px 0 0 41px;
    }

    .services_p  {
     padding-left:5.3%;
     padding-right: 4%;
     letter-spacing:0.05px;
	}

	.services__conteiner {
	margin-top:37px;
	margin-right:28px;
	}

	.portfolio_conteiner {
	margin-top:10px;
	margin-bottom:66px;
	}

	.portfolio_conteiner .portfolio_images{
    width: 29.6%;
    } 
    .About_Us {
    height:665px;
    }
    
    .About__name {
	margin-top:6px;
    }

    .About_p {
    margin-right:30px;
    }

    .conteiner_About_Us h4 {
    margin-top:10px;
    margin-left:2px;
    }

    .conteiner_About_Us p{
    margin-top:-20px;
    margin-bottom:20px;
    width:94%;
    }
    
    .get_a_quote{
    	height:630px;
    }
    .get_a_quote__name {
    margin-top:-6px;
    padding-left:4px;
	}
	
    .quote__info_textarea{
    height: 155px;
    max-width: 436px;
    }

    .quote__info_input {
	margin-bottom:2.8%;
    }

    .get_a_quote_text {
    margin-right:5%;
    letter-spacing:0.3px;
    }

    .quote__info {
    padding-top:1.5%;
    }

    .quote__contact_information_text, 
    .quote__contact_list{
    	padding-right:4%;
    }

    .quote__contact_list{
    	padding-top:10%;
    }
    .quote__contact_information{
    	padding-left:4%;
    }
}

@media (max-width: 767px) {
	* {
		scroll-margin-top: 60px;
	  }

	.header {
		height: 69px;
		padding-left: 20px;
		border: none;
	  }
	
	.header__logo {
		display: flex;
		justify-content: space-between;
		width: 100%;
	  }

	.nav-icon,
	.nav-icon.active {
 	 display: block;
 	 margin-top:25px;
	}

	.header__logo h1{
		margin-top:33px;
		font-size:20px;
		margin-right:17px;
	}
	
	.header__navigation {
		display: block;
		overflow: hidden;
	}
	
	.nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left:0;
		background: #2d303a;
		opacity: 0.5;
	}
	
	  .header__navigation.burger-active {
		display: block;
		height:100%;
		width: 258px;
		position: fixed;
		z-index: 5;
		left: 0;
		padding-left: 20px;
		background: #2d303a;
		transition: 0.2s;
	  }
	
	  #menu-burger.active {
		transform: rotate(90deg);
	  }
	
	.header__navigation #menu {
		display: block;
		margin-top:30vh;		
		padding-left:0;
	}
	 
	.header__navigation ul span {
		display: none;
	}
	
	.header__navigation #menu li a{
		font-size:25px;
	}

	.header__navigation #menu li  {
		padding-top:40px;
		padding-left:50px;
	}

	.services {
		height:100%;
	}

	.services_our {
    	margin-top:-18px;
    	margin-left:-10px;
	}

	.services_p{
    	margin-left:10px;
    	margin-right:5%;
	}

	.conteiner {
    	margin-top:113px;
    	margin-left:-2%;
	}

	.services__conteiner {
    	margin-bottom:-6%;
	}

	.conteiner_star{
    	margin-bottom:55px;
	}
	
	.portfolio {
		max-height:874px;
	}

	.portfolio_conteiner img:nth-child(n + 9) {
		display: none;
	}

	.portfolio__name{
		margin-top:-17px;
		margin-left:-11px;
	}

	.portfolio_p {
	margin-left:-11px;
	}
		
	.portfolio_conteiner img {
    min-width:44%;
   	min-height:127px;
    }	

	.portfolio_conteiner{
	margin-top:15px;
    margin-left:-10px;
	}

	.portfolio_conteiner .portfolio_images{
	margin-top:14px;
	margin-right:14px;
	}

	.portfolio__btn{
	margin-top:5px;
	margin-left:-10px;
	}

	.About_Us{
		height:100%;
	}
		
	.about-us__photo {
        min-width:100%;
        margin-left:-2px;
    }

    .conteiner_About_Us {
        flex-wrap: wrap;
	}

	.About_Us_socials{
		margin-top:-130px;
		margin-bottom:37px;
	}

	.get_a_quote__name{
		margin-left:-15px;
		margin-top:-20px;
		}
	
	.quote__info_form{
		margin-top:125px;
		margin-left:-15px;
		}
	
	.get_a_quote_text{
		margin-left:-15px;	
		margin-right:40px;
		}

	.quote__info_textarea{
			height: 160px;
			max-width: 320px;
	}

    .btn{
		width: 320px;
		margin-top:10px;
	 }
 
	 .quote__info {
	 flex-wrap: wrap;
	}
	.get_a_quote {
		min-height:980px;
	}

	.quote__contact_information{
		margin-top:25px;
		margin-left:-20px;
	}
 
	.quote__contact_list{
		margin-top:-120px;
	}

	.footer__copyright{
		display: none;
	}
 
   .footer__Social{
	   margin-left:20%;
   }
}

@media (max-width: 350px) {
	.conteiner {
    	margin-top:113px;
    	margin-left:-10%;
	}

	.quote__info_form{
		margin-top:135px;
		margin-left:-15px;
	}
	
	.quote__info_textarea{
		height: 160px;
		max-width: 270px;
	}
	
	.btn{
		   width: 270px;
		   margin-top:10px;
	}
		
	.quote__contact_list{
			margin-top:-100px;
	}
}